body{
    background-color: black;
}
.circle1
{
    margin-left: 100px;
    margin-top:100px;
    border:2px solid black;
    position: relative;
    height:100px;
    width:100px;
    background-color: red;
    border-radius: 200px;
    animation-name: circle;
    animation-duration: 4s;
    left:20px;
    right:20px;
}
@keyframes circle {
  0%{
    background-color: green; right:60px; left:200px;
  }
  25%
  {
    background-color: aquamarine; left:220px; top:20px;
  }
  50%
  {
    background-color: blueviolet; left:220px; top:220px;
  }
  75%
  {
    background-color: chartreuse; left:20px; top:220px;
  }
  100%{
background-color: fuchsia; left: 20px;  right:20px;
  }
}
.circle2{
margin-left: 100px;
    margin-top:100px;
    border:2px solid black;
    position: relative;
    height:100px;
    width:100px;
    background-color:pink;
    border-radius: 200px;
    animation-name: circle2;
    animation-duration: 4s;
    left:20px;
    right:20px;
}
@keyframes circle2 {
  0%{
    background-color: green; right:100px; left:20px;
  }
  25%
  {
    background-color: aquamarine; left:20px; top:10px;
  }
  50%
  {
    background-color: blueviolet; left:220px; top:220px;
  }
  75%
  {
    background-color: chartreuse; left:210px; top:220px;
  }
  100%{
background-color: fuchsia; left: 20px;  right:2px;
  }
}
.circle3{
margin-left: 100px;
    margin-top:100px;
    border:2px solid black;
    position: relative;
    height:100px;
    width:100px;
    background-color:greenyellow;
    border-radius: 200px;
    animation-name: circle3;
    animation-duration: 4s;
    left:20px;
    right:20px;
}
@keyframes circle3 {
    

 0%{
    background-color: green; right:50px; left:28px;
  }
  25%
  {
    background-color: aquamarine; left:20px; top:19px;
  }
  50%
  {
    background-color: blueviolet; left:100px; top:220px;
  }
  75%
  {
    background-color: chartreuse; left:20px; top:220px;
  }
  100%{
background-color: fuchsia; left: 120px;  right:12px;
  }
}