.outer
{
    
    height:800px;
    width:800px;
    background-color: white;
}
.a
{
    height:100px;
    width:800px;
}
.b
{
    height:100px;
    width:100px;
    background-color: black;
    float:left;
}
.w
{
    height:100px;
    width:100px;
    background-color: white;
    float:left;
}