table,td{
    /* max-width: 50%; */
     border:1px solid;
     vertical-align: bottom;
     padding: 10px;
     border-collapse: collapse;
}
thead{
    text-align: center;
}
table{
      width:50%;
}
tr{
    height:50px;
}
tr:nth-child(even){
background-color:aqua;
}
td{
     text-align: center;
}
tr:hover{
    background-color: darkgoldenrod;
}
thead{
    background-color: green;
}
    